<section class="section" id="products">
  <div class="container">
      <div class="row">
          <div class="col-lg-12">
              <div class="section-heading">
                  <strong><h1>Nuestros Productos</h1></strong>
              </div>
              <div class="section-heading">
                <strong><h2>⚠️ Más Productos Próximamente ⚠️</h2></strong>
            </div>
          </div>
      </div>
  </div>
  <div class="container">
      <div class="row">

<!-- Producto 1-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal1" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/refrigerante.png" alt="">
        </div>
        <div class="down-content">
            <h6>Refrigerante Agua /coolant 33% Prestone Usa Color Verde </h6>
            <span>$14.990</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 1-->
<div class="modal fade" id="productModal1" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Refrigerante Agua /coolant</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/refrigerante.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Refrigerante Agua /coolant 33% Prestone Usa Color Verde</h1>
                <b>Descripcion</b>
                <p>El Agua Coolant Prestone Mezcla Precisa 1 Gal es la compra que evitará el congelamiento de tu motor cuando tu vehículo se exponga a bajas temperaturas.</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Producto 2-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal2" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/aceite.png" alt="">
        </div>
        <div class="down-content">
            <h6>Royal Purple Hps 10w40 946ml</h6>
            <span>$15.413</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 2-->
<div class="modal fade" id="productModal2" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Royal Purple</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/aceite.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Royal Purple Hps 10w40 946ml</h1>
                <b>Descripcion</b>
                <p> Royal Purple ademas mejora el desempeño de tu motor, dado que al existir una menor friccion, hay un menor gasto de combustible al momento de generar movimiento interno en las piezas de tu motor, lo que a su vez, prolonga la vida de este.</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 3-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal3" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/liquido_frenos.png" alt="">
        </div>
        <div class="down-content">
            <h6>Liquido De Freno Bosch Dot3 500 Ml</h6>
            <span>$9.250</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 3-->
<div class="modal fade" id="productModal3" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Liquido De Freno</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/liquido_frenos.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Liquido De Freno Bosch Dot3 500 Ml</h1>
                <b>Descripcion</b>
                <p>Liquido De Freno Bosch</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

 <!-- Producto 4-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal4" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/aceite_hidraulico.png" alt="">
        </div>
        <div class="down-content">
            <h6>Aceite Atf Dirección Hidráulica / Caja Automática 1lt</h6>
            <span>$6.640</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 4-->
<div class="modal fade" id="productModal4" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Aceite Atf</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/aceite_hidraulico.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Aceite Atf Dirección Hidráulica / Caja Automática 1lt</h1>
                <b>Descripcion</b>
                <p>El aceite Atf Dirección Hidráulica / Caja Automática 1lt, formulado con aceites bases de alta calidad con alto índice de viscosidad y con aplicación para direcciones hidráulicas, servodirección o dirección asistida.</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


<!-- Producto 5-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal5" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/bujias.png" alt="">
        </div>
        <div class="down-content">
            <h6>Juego De Bujias Gol G3 1.6</h6>
            <span>$22.000</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 5-->
<div class="modal fade" id="productModal5" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Juego De Bujias</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/bujias.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Juego De Bujias Gol G3 1.6</h1>
                <b>Descripcion</b>
                <p>BOSCH ( JUEGO DE 4 BUJIAS)</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 6-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal6" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/filtro_aceite.png" alt="">
        </div>
        <div class="down-content">
            <h6>Filtro Aceite - Subaru Forester/xv/impreza/legacy</h6>
            <span>$12.990</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 6-->
<div class="modal fade" id="productModal6" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Filtro Aceite</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/filtro_aceite.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Filtro Aceite - Subaru Forester/xv/impreza/legacy</h1>
                <b>Descripcion</b>
                <p>Repuesto Original - Filtro de Aceite Subaru
                    Forester Motor 2.000cc/2.500cc Año 2010-2017
                    XV Motor 1.600cc /2.000cc Año 2011-2017
                    Impreza Motor 1.600cc /2.000cc Año 2011-2017
                    Legacy Motor 2.000cc/2.500cc Año 2012-2014</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 7-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal7" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/filtro_aire.png" alt="">
        </div>
        <div class="down-content">
            <h6>Filtro Aire Peugeot 208 308 2008 C3 C4 1.5 Bluehdi</h6>
            <span>$16.005</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 7-->
<div class="modal fade" id="productModal7" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Filtro Aire</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/filtro_aire.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Filtro Aire Peugeot 208 308 2008 C3 C4 1.5 Bluehdi</h1>
                <b>Descripcion</b>
                <p>Filtro de Aire
                    Original PSA
                    
                    Motores 1.5 HDi</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 8-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal8" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/ampolletas_led.png" alt="">
        </div>
        <div class="down-content">
            <h6>Kit Ampolleta Led H1 H3 H4 H7 H11 H13 9005 9006 880 20000lm</h6>
            <span>$5.980</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 8-->
<div class="modal fade" id="productModal8" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Kit Ampolleta Led</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/ampolletas_led.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Kit Ampolleta Led H1 H3 H4 H7 H11 H13 9005 9006 880 20000lm</h1>
                <b>Descripcion</b>
                <p>- Potencia: 10.000 lumens por lámpara (20.000 por par)
                    - Vida util: 30.000 horas
                    - Temperatura: 6500k
                    - Color de luz: Blanca
                    - Consumo: 36w
                    - Voltaje: 12v
                    - Encendido: Instantáneo
                    - Refrigeración: sin Cooler
                    - Dimensiones 7,5cm Alto x 3,5cm Ancho</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 9-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal9" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/plumillas.png" alt="">
        </div>
        <div class="down-content">
            <h6>Par Plumillas Limpiaparabrisas Silicona Universal Vehiculo</h6>
            <span>$1.690</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 9-->
<div class="modal fade" id="productModal9" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Par Plumillas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/plumillas.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Par Plumillas Limpiaparabrisas Silicona Universal Vehiculo</h1>
                <b>Descripcion</b>
                <p>Color: Negro
                    Tamaño: A elegir
                    Material: Caucho de silicona
                    Ajuste: Ajuste Universal j-hook</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 10-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal10" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/correa.png" alt="">
        </div>
        <div class="down-content">
            <h6>Correa-accesorio Mazda 323 1989-2004, 1.3-1.6</h6>
            <span>$21.307</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 10-->
<div class="modal fade" id="productModal10" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Correa</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/correa.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Correa-accesorio Mazda 323 1989-2004, 1.3-1.6</h1>
                <b>Descripcion</b>
                <p>MAZDA » 323
                    06.89 ~ 05.94 BG1062, Ing: 1.6L B6-E(Correas y tensores) (+PS,-A/C)
                    12.00 ~ 09.03 ALBA10 RHD , Ing: 1.3L B3-ME(Correas y tensores) (+PS,-A/C)
                    05.98 ~ 05.04 BJ, Ing: 1.6L ZM(Correas y tensores) (+PS,-A/C)
                    05.98 ~ 05.04 BJ10M, Ing: 1.6L ZM-DE(Correas y tensores) (+PS,-A/C)
                    12.00 ~ 09.03 ALBA10 LHD , Ing: 1.3L B3-ME(Correas y tensores) (+PS,-A/C)</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 11-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal11" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/fusibles.png" alt="">
        </div>
        <div class="down-content">
            <h6>Kit Mini Fusibles Automotriz Auto 80 Unid Mas Extractor</h6>
            <span>$21.307</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 11-->
<div class="modal fade" id="productModal11" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Kit Mini Fusibles</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/fusibles.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Kit Mini Fusibles Automotriz Auto 80 Unid Mas Extractor</h1>
                <b>Descripcion</b>
                <p>Paquete incluye:

                    Extractor Amarillo clip 1
                    
                    Caja de fusible 1
                    
                    80 mini fusibles</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>

<!-- Producto 12-->
<div class="col-lg-4">
    <div class="item">
        <div class="thumb">
            <div class="hover-content">
                <ul>
                    <li><a href="#productModal12" data-toggle="modal"><i class="fa fa-eye"></i></a></li>
                    <li><a href='<%= paypalUrl %>'><i class="fa fa-paypal"></i></a></li>
                </ul>
            </div>
            <img class="product-image" src="public/images/products/ampolleta.png" alt="">
        </div>
        <div class="down-content">
            <h6>Caja De 10 Ampolletas 2 Contactos 12 Volts 17/8 Watts - Hell</h6>
            <span>$4.990</span>
        </div>
    </div>
</div>

<!-- Visualizar Producto 12-->
<div class="modal fade" id="productModal12" tabindex="-1" role="dialog" aria-labelledby="productModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="productModalLabel">Caja De 10 Ampolletas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" style="text-align: center;">
                <img src="public/images/products/ampolleta.png" alt="" style="width: 50%; margin: 0 auto;">
                <h1>Caja De 10 Ampolletas 2 Contactos 12 Volts 17/8 Watts - Hell</h1>
                <b>Descripcion</b>
                <p>Las ampolletas R2 de Hella son ideales para reemplazar las luces de tus faroles o intermitentes. Con una potencia de 17/8 watts y una tensión de 12 voltios, estas ampolletas globo grandes con pata pareja proporcionan una iluminación nítida y duradera.</p>
            </div>           
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>
<!--
          <div class="col-lg-12">
              <div class="pagination">
                  <ul>
                      <li class="active">
                          <a href="#">1</a>
                      </li>
                      <li>
                          <a href="#">2</a>
                      </li>
                      <li>
                          <a href="#">3</a>
                      </li>
                      <li>
                          <a href="#">4</a>
                      </li>
                      <li>
                          <a href="#">></a>
                      </li>
                  </ul>
              </div>
          </div>
-->
      </div>
  </div>
</section>
