<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>    
    <%- include('partials/tablasqlcss') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar_admin', { currentPage: "comprobante_adm" }) %>
    <div class="apple-form" style="padding-bottom: 25px;">
        <form action="/buscarPorIdPago" method="GET">
            <input type="text" name="id" placeholder="Buscar por ID" />
            <input type="submit" value="Buscar" />
        </form>
    </div>   
    <% if (typeof data !== 'undefined' && typeof data.comprobante !== 'undefined' && data.comprobante.length > 0) { %>
        <table>
            <tr>
                <th>ID</th>
                <th>ID Pago</th>
                <th>Estado</th>
                <th>Email PayPal</th>
                <th>Nombre Comprador</th>
                <th>Nombre Envío</th>
                <th>Dirección Envío</th>
                <th>Monto Compra</th>
                <th>Monto Bruto</th>
                <th>Comisión PayPal</th>
                <th>Monto Neto</th>
                <th>PDF</th>
            </tr>
            <% data.comprobante.forEach(function(row) { %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.id_pago %></td>
                    <td><%= row.estado %></td>
                    <td><%= row.email_paypal %></td>
                    <td><%= row.nombre_comprador %></td>
                    <td><%= row.nombre_envio %></td>
                    <td><%= row.direccion_envio %></td>
                    <td><%= row.monto_compra %></td>
                    <td><%= row.monto_bruto %></td>
                    <td><%= row.comision_paypal %></td>
                    <td><%= row.monto_neto %></td>
                    <td><a href="/generate-pdf/<%= row.id_pago %>"><i class="gg-software-download"></i></a></td>
                </tr>
            <% }); %>
            <% } else { %>
                <p>No se encontraron resultados para el ID de pago proporcionado.</p>
            <% } %>            
        </table>    
</div>
</body>

<%- include('partials/sweetalert') %>
<%- include('partials/scripts') %>
</html>