<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
  <div class="hero_area">
    <%- include('partials/navigation_bar', { currentPage: "contacto" }) %>
  </div>
  <%- include('partials/contactosection') %>
  <%- include('partials/sweetalert') %>
</body>
<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</html>