<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar_admin', { currentPage: "dashboard" }) %>
  </div>
</body>

<%- include('partials/sweetalert') %>
<%- include('partials/scripts') %>
</html>