<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>
    <%- include('partials/tablasqlcss') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar_admin', { currentPage: "dashboard" }) %>
    <% if (typeof data !== 'undefined' && typeof data.login !== 'undefined') { %>
        <table>
            <tr>
                <th>ID</th>
                <th>Usuario</th>
                <th>Contraseña</th>
            </tr>
            <% data.login.forEach(function(row) { %>
                <tr>
                    <td><%= row.id %></td>
                    <td><%= row.user %></td>
                    <td><%= row.password %></td>
                </tr>
            <% }); %>
        </table>
    <% } %>
    
  
  
  </div>
</body>

<%- include('partials/sweetalert') %>
<%- include('partials/scripts') %>
</html>