<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/estilos') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar') %>
    <%- include('partials/carrusel') %>
  </div>
  <%- include('partials/servicesection') %>
  <%- include('partials/aboutsection') %>
</body>
<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</html>