<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/estilos') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar') %>
    <%- include('partials/carrusel') %>
  </div>



    <!-- service section -->
    <section class="service_section layout_padding">
        <div class="service_container">
        <div class="container">
            <div class="heading_container">
            <h2>Nuestros <span>Servicios</span></h2>
            <p>
                There are many variations of passages of Lorem Ipsum available,
                but the majority have suffered alteration
            </p>
            </div>
            <div class="row">
            <div class="col-md-6">
                <div class="box">
                <div class="img-box">
                    <img src="public/images/s1.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>Agenda</h5>
                    <p>
                    fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of
                    using
                    </p>
                    <a href=""> Leer más </a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                <div class="img-box">
                    <img src="public/images/s2.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>Partes de vehiculos</h5>
                    <p>
                    fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of
                    using
                    </p>
                    <a href=""> Leer más </a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                <div class="img-box">
                    <img src="public/images/s3.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>Mecanicos</h5>
                    <p>
                    fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of
                    using
                    </p>
                    <a href=""> Leer más </a>
                </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="box">
                <div class="img-box">
                    <img src="public/images/s4.png" alt="" />
                </div>
                <div class="detail-box">
                    <h5>Asesoria</h5>
                    <p>
                    fact that a reader will be distracted by the readable
                    content of a page when looking at its layout. The point of
                    using
                    </p>
                    <a href=""> Leer más </a>
                </div>
                </div>
            </div>
            </div>
        </div>
        </div>
    </section>
    <!-- end service section -->

    <!-- about section -->
    <section class="about_section layout_padding-bottom">
        <div class="container">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>Nosotros</h2>
                </div>
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore
                  iure iste nam atque assumenda quo vel nemo amet, itaque sed
                  tempora minus provident consequatur nihil. Natus similique atque
                  sequi illo.
                </p>
                <a href=""> Saber Más </a>
              </div>
            </div>
            <div class="col-md-6">
              <div class="img-box">
                <img src="public/images/about-img.jpg" alt="" />
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- end about section -->


      <!-- client section -->
    <section class="client_section layout_padding">
        <div class="container">
          <div class="heading_container">
            <h2>Nuestros Clientes <span>Clientes</span></h2>
          </div>
          <div class="client_container">
            <div class="carousel-wrap">
              <div class="owl-carousel">
                <div class="item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="public/images/client-1.png" alt="" class="img-1" />
                      </div>
                      <div class="name">
                        <h6>Cliente</h6>
                        <p>Nombre</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="public/images/client-2.png" alt="" class="img-1" />
                      </div>
                      <div class="name">
                        <h6>Cliente</h6>
                        <p>Nombre</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="public/images/client-1.png" alt="" class="img-1" />
                      </div>
                      <div class="name">
                        <h6>Cliente</h6>
                        <p>Nombre</p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="item">
                  <div class="box">
                    <div class="detail-box">
                      <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit,
                        sed do eiusmod tempor incididunt ut labore et dolore magna
                        aliqua. Ut enim ad minim Lorem ipsum dolor sit amet,
                        consectetur adipiscing elit, sed do eiusmod tempor
                        incididunt ut labore et dolore magna aliqua. Ut enim ad
                        minim
                      </p>
                    </div>
                    <div class="client_id">
                      <div class="img-box">
                        <img src="public/images/client-2.png" alt="" class="img-1" />
                      </div>
                      <div class="name">
                        <h6>Adipiscing</h6>
                        <p>Magna</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </section>
    <!-- end client section -->

    <!-- sección de contacto -->
    <section class="contact_section">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
              <div class="heading_container">
                <h2>Contáctenos</h2>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-4 col-md-5 offset-md-1">
              <div class="form_container contact-form">
                <form action="">
                  <div>
                    <input type="text" placeholder="Su nombre" />
                  </div>
                  <div>
                    <input type="text" placeholder="Número de teléfono" />
                  </div>
                  <div>
                    <input type="email" placeholder="Correo electrónico" />
                  </div>
                  <div>
                    <input
                      type="text"
                      class="message-box"
                      placeholder="Mensaje"
                    />
                  </div>
                  <div class="btn_box">
                    <button>ENVIAR</button>
                  </div>
                </form>
              </div>
            </div>
            <div class="col-lg-7 col-md-6 px-0">
              <div class="map_container">
                <div class="map">
                  <div id="googleMap"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- fin de la sección de contacto -->
</body>

<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>

<%- include('partials/scripts') %>

</html>