<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>    
    <%- include('partials/tablasqlcss') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar_admin', { currentPage: "lista_agendas" }) %>
    <div class="button-group">
      <% if (finalized) { %>
        <a href="/lista_agendas" class="btn btn-volver">Volver a Pendientes</a>
      <% } else { %>
        <a href="/lista_agendas_fin" class="btn btn-completadas">Ver Completadas</a>
      <% } %>
    </div>
    <table id="agendaTabla">
      <thead>
        <th>ID</th>
        <th>Cliente</th>
        <th>Correo Cliente</th>
        <th>Marca</th>
        <th>Modelo</th>
        <th>Tipo de Agenda</th>
        <th>Fecha</th>
        <th>Hora</th>
        <th>Estado</th>
      </thead>
      <tbody>
        <% agendaext.forEach(row => { %>
        <tr onclick="seleccionarFila(this);">
          <td><%= row.id %></td>
          <td><%= row.nombre %></td>
          <td><%= row.correo %></td>
          <td><%= row.marca %></td>
          <td><%= row.modelo %></td>
          <td><%= row.tipo %></td>
          <td><%= new Date(row.fecha).toISOString().split('T')[0] %></td>
          <td><%= row.hora %></td>
          <td><%= row.estado %></td>
        </tr>
      <% }); %>
      </tbody>
    </table>
    <button class="btn btn-detalle" id="detalleBtn" onclick="mostrarDetalle();" disabled>Ver Detalles</button>
  </div>
</body>

<%- include('partials/sweetalert') %>
<%- include('partials/scripts') %>
</html>