<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MotorsSolution</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>    
    <%- include('partials/tablasqlcss') %>
</head>
<body>
  <div class="hero_area">
    <%- include('partials/navigation_bar_admin', { currentPage: "lista_agendas" }) %>
    <table>
      <tr>
        <th>ID</th>
        <th>Cliente</th>
        <th>Correo Cliente</th>
        <th>Patente Vehiculo</th>
        <th>Marca</th>
        <th>Tipo de Agenda</th>
        <th>Fecha</th>
        <th>Hora</th>
      </tr>
      <% agendaext.forEach(row => { %>
        <tr>
          <td><%= row.id %></td>
          <td><%= row.nombre %></td>
          <td><%= row.correo %></td>
          <td><%= row.patente %></td>
          <td><%= row.marca %></td>
          <td><%= row.tipo %></td>
          <td><%= row.fecha %></td>
          <td><%= row.hora %></td>
        </tr>
      <% }); %>
    </table>
  </div>
</body>

<%- include('partials/sweetalert') %>
<%- include('partials/scripts') %>
</html>