<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>
    <%- include('partials/productocss') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar', { currentPage: "producto", activeRole: role }) %>
    <%- include('partials/producto', { paypalUrl: paypalUrl }) %>
    <%- include('partials/pago') %>
</body>
<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</html>