<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Productos</title>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar') %>
    <section class="about_section layout_padding">
        <div class="container  ">
          <div class="row">
            <div class="col-md-6">
              <div class="detail-box">
                <div class="heading_container">
                  <h2>
                    About <span>Us</span>
                  </h2>
                </div>
                <p>
                  There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration
                  in some form, by injected humour, or randomised words which don't look even slightly believable. If you
                  are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in
                  the middle of text. All
                </p>
                <a href="">
                  Read More
                </a>
              </div>
            </div>
            <div class="col-md-6 ">
              <div class="img-box">
                <img src="public/images/about-img.jpg" alt="">
              </div>
            </div>
    
          </div>
        </div>
      </section>

      <%- include('partials/pago') %>


</body>

<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>

<%- include('partials/scripts') %>

</html>