<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar') %>

    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Agenda De Servicios</h2>
                    <form method="POST" action="servicio">

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="nombre" placeholder="Nombre Completo" required>
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="correo" required placeholder="Correo Electronico" required>
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="patente" required placeholder="Patente" required>
                        </div>
                        
                        <div >
                            <select class="input--style-2" name="marca" id="marca">
                                <option value="Peugeot" selected>Peugeot</option>
                                <option value="Fiat">Fiat</option>
                                <option value="Toyota">Toyota</option>
                            </select>
                        </div>
                        
                        <div id="desplegar">
                            <select class="input--style-2" name="tipo" id="tipo">
                                <option value="Consulta" selected>Consulta</option>
                                <option value="Servicio">Servicio</option>
                            </select>
                        </div>
                    
                        <input id="desplegar" class="input--style-2" type="date" name="fecha" id="fecha" required>

                        <input id="desplegar" class="input--style-2" type="time" name="hora" id="hora" required>


                        <div style="display: inline;" >
                            <!--<a href="/" class="btn-cancel">Cancel</a>-->
                            <input  type="submit" class="btn btn-success margen-arriba" value="Guardar" >
                        </div>

                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/sweetalert') %>
  
</body>
<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</html>