<!DOCTYPE html>
<html lang="es-es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Servicios</title>
    <%- include('partials/bootstrapcss') %>
    <%- include('partials/estilos') %>
</head>
<body class="sub_page">
    <%- include('partials/navigation_bar', { currentPage: "servicio", activeRole: role }) %>

    <div class="page-wrapper bg-red p-t-180 p-b-100 font-robo">
        <div class="wrapper wrapper--w960">
            <div class="card card-2">
                <div class="card-heading"></div>
                <div class="card-body">
                    <h2 class="title">Agenda De Servicios</h2>
                    <form method="POST" action="/servicio">

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="nombre" placeholder="Nombre Completo" required>
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="correo" required placeholder="Correo Electronico" required>
                        </div>
                        
                        <div class="select-group">
                            <select class="input--style-2" name="marca" id="marca" placeholder="Marca del Vehículo">
                                <!-- Opciones de marcas cargadas dinámicamente -->
                            </select>
                        
                            <span class="separador"></span>
                          
                            <select class="input--style-2" name="modelo" id="modelo" placeholder="Modelo del Vehículo">
                              <!-- Opciones de modelos cargadas dinámicamente -->
                            </select>
                        </div>

                        <div class="input-group">
                            <input class="input--style-2" type="text" name="patente" id="patente" placeholder="Patente del Vehículo" onblur="validarPatente()" required>
                            <span id="mensajePatente" style="color: red;"></span>
                        </div>
                        
                        
                        <div class="select-group">
                            <select class="input--style-2" name="tipo" id="tipo">
                                <option  disabled selected>Tipo de Servicio</option>
                                <option value="Consulta" >Consulta</option>
                                <option value="Servicio">Servicio</option>
                            </select>
                        
                            <input id="fecha" class="desplegar" type="date" name="fecha" required>

                            <input class="desplegar" type="time" name="hora" id="hora" list="opcionesHora" required>
                            <datalist id="opcionesHora"></datalist>
                            <!--<a href="/" class="btn-cancel">Cancel</a>-->
                        </div>
                        <div class="descripcion">
                            <textarea class="input--text" name="descripcion" id="descripcion" placeholder="Describe tu problema de manera breve"></textarea>
                        </div>

                        <input  type="submit" class="btn btn-success margen-arriba" value="Siguiente" >
                    </form>
                </div>
            </div>
        </div>
    </div>


    <%- include('partials/sweetalert') %>
  
</body>
<%- include('partials/sub_footer') %>
<%- include('partials/footer') %>
<%- include('partials/scripts') %>
</html>